/* body style */

body {
    font-family: system-ui, —apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
    background-color: #002fa7;
    margin: 0;
    padding: 0;
}

/* LOGO style */
.header {
    text-align: center;
    padding: 50px;
    color: #ffffff;
}

/* LOGO style */
.header img {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

/* menu style */
.content-container {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 1px auto;
    max-width: 1000px;
}

/* menu style */
.nav {
    text-align: center;
    margin: 20px 0;
}

/* menu style */
.menu-item {
    display: inline-block;
    margin: 0 10px;
    color: #002fa7;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: transform 0.1s ease;
}

.menu-item:hover {
    transform: scale(1.2);
}

.content {
    text-align: center;
    margin: 20px 0;
}

.content .item {
    color: #454545;
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.content .item img {
    max-width: 100%;
    height: auto;
}

.content .item h3 {
    margin: 10px 0;
}

.content .item p {
    margin: 15px 0;
}

/* button style */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008ad9;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    transform: scale(1) translateY(5px);
    background-color: #ff0180;
}

/* web font */
@font-face {
    font-family: 'lineseedjp';
    src: url('../font/LINESeedJP_OTF_Eb.woff2') format('woff2');
}

@font-face {
    font-family: 'lineseedjp2';
    src: url('../font/LINESeedJP_OTF_Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'lineseedjp3';
    src: url('../font/LINESeedJP_OTF_Th.woff2') format('woff2');
}

.font1 {
    font-family: 'lineseedjp';
}

.font2 {
    font-family: 'lineseedjp2';
}

.font3 {
    font-family: 'lineseedjp3';
}

/* copyright style */
.footer {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #ffffff;
    justify-content: center;
    overflow: hidden;
}

/* 浏览器缩小导航栏隐藏 */
@media (max-width: 600px) {
    .nav {
        display: none;
    }
}