body {
    font-family: Bahnschrift, Arial, sans-serif;
    /* 設定全域字體為Bahnschrift, Arial, sans-serif */
    margin: 0;
    /* 移除body的預設外邊距 */
    padding: 0;
    /* 移除body的預設內邊距 */
    background-color: #012fa7;
    /* 設定頁面背景顏色 */
}

header {
    background-color: #012fa7;
    /* 設定頁首背景顏色 */
    color: #fff;
    /* 設定頁首文字顏色 */
    padding: 10px 0;
    /* 設定頁首上下內邊距 */
    text-align: center;
    /* 居中對齊頁眉內容 */
}

header h1 {
    font-size: 55px;
    /* 設定h1的字體大小 */
    margin-bottom: 5px;
    /* 設定h1的底部外邊距 */
}

header p {
    margin: 5px 0 0;
    /* 設定p元素的外邊距 */
}

nav {
    display: flex;
    /* 使用flex版面 */
    font-size: 20px;
    /* 設定導航字體大小 */
    justify-content: center;
    /* 水平居中對齊導航連結 */
    background-color: #0080ff;
    /* 設定導覽背景顏色 */
    padding: 10px 0;
    /* 設定導航上下內邊距 */
    font-weight: bold;
    /* 設定導航文字粗體 */
    border-radius: 12px;
    /* 設定導航邊框圓角 */
}

nav a {
    color: #fff;
    /* 設定導航連結文字顏色 */
    text-decoration: none;
    /* 移除導航連結下劃線 */
    padding: 10px 20px;
    /* 設定導覽連結內邊距 */
    border-radius: 10px;
    /* 設定導航連結邊框圓角 */
    background-color: #0080ff;
    /* 初始背景顏色 */
    transition: background-color 0.5s ease;
    /* 添加過渡效果 */
}

nav a:hover {
    color: #0080ff;
    /* 設定導航連結文字顏色 */
    background-color: #ffffff
        /* 設定導覽連結懸停時的背景顏色 */
}

.container {
    width: 80%;
    /* 設定容器寬度為80% */
    margin: 20px auto;
    /* 設定容器外邊距，使其水平居中 */
    background-color: #fff;
    /* 設定容器背景顏色 */
    padding: 10px;
    /* 設定容器內邊距 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* 設定容器陰影 */
    border-radius: 20px;
    /* 設定容器邊框圓角 */
}

section {
    margin-bottom: 20px;
    /* 設定段落底部外邊距 */
    text-align: center;
    /* 段落內容居中對齊 */
}

h2 {
    color: #012fa7;
    /* 設定h2的文字顏色 */
    padding-bottom: 10px;
    /* 設定h2的底部內邊距 */
}

h4 {
    color: #ffffff;
    /* 設定h4的文字顏色 */
    font-size: 18px;
    /* 設定h4的字體大小 */
    padding-bottom: 0px;
    /* 設定h4的底部內邊距 */
    margin-top: 5px;
    /* 設定h4的頂部外邊距 */
    font-weight: normal;
    /* 設定導航文字粗體 */
}

hr {
    border: none;
    /* 移除預設邊框 */
    border-top: 1px solid #c0c0c0;
    /* 設定hr的頂部邊框 */
}

.about-content {
    text-align: center;
    /* 內容居中對齊 */
}

.about-content img {
    width: 100%;
    /* 設定圖片寬度為100% */
    max-width: 1500px;
    /* 設定圖片最大寬度 */
    height: auto;
    /* 自動調整圖片高度 */
    margin-bottom: 20px;
    /* 設定圖片底部外邊距 */
}

.gallery {
    display: flex;
    /* 使用flex版面 */
    flex-wrap: wrap;
    /* 容器內元素換行 */
    justify-content: space-between;
    /* 子元素之間的空間平分 */
    text-align: center;
    /* 內容居中對齊 */
    margin: 0 60px 20px;
    /* 設定畫廊的外邊距 */
}

.gallery2 {
    display: flex;
    /* 使用flex版面 */
    flex-wrap: wrap;
    /* 容器內元素換行 */
    justify-content: center;
    /* 水平居中對齊 */
    text-align: center;
    /* 內容居中對齊 */
}

.gallery-item {
    width: 45%;
    /* 設定畫廊項目寬度為45% */
    margin-bottom: 20px;
    /* 設定畫廊項目底部外邊距 */
    background-color: #ffffff;
    /* 設定畫廊專案背景顏色 */
    padding: 10px;
    /* 設定畫廊專案內邊距 */
    box-shadow: 0 0 5px rgb(216, 216, 216);
    /* 設定畫廊項目陰影 */
    border-radius: 20px;
    /* 設定畫廊項目邊框圓角 */
}

.gallery-item img {
    width: 100%;
    /* 使图片宽度占满其父容器的100% */
    height: auto;
    /* 根据图片的宽高比自动调整高度 */
    border-radius: 20px;
    /* 给图片添加20px的圆角边框 */
    transition: transform 0.2s;
    /* 设置在应用transform属性时的过渡效果，持续时间为0.2秒 */
}

.gallery-item img:hover {
    transform: scale(1.03);
    /* 当鼠标悬停在图片上时，将图片放大1.03倍 */
}

.gallery-item h3 {
    color: #012fa7;
    /* 設定h3的文字顏色 */
    margin: 10px 0 5px;
    /* 設定h3的外邊距 */
}

.gallery-item p {
    margin: 0;
    /* 設定p元素的外邊距 */
    color: #666;
    /* 設定p元素的文字顏色 */
}

.gallery-item2 {
    width: 90%;
    /* 設定畫廊項目寬度為90% */
    margin-bottom: 20px;
    /* 設定畫廊項目底部外邊距 */
    background-color: #ffffff;
    /* 設定畫廊專案背景顏色 */
    padding: 10px;
    /* 設定畫廊專案內邊距 */
    box-shadow: 0 0 5px rgb(216, 216, 216);
    /* 設定畫廊項目陰影 */
    border-radius: 20px;
    /* 設定畫廊項目邊框圓角 */
}

.gallery-item2 img {
    width: 100%;
    /* 使图片宽度占满其父容器的100% */
    height: auto;
    /* 根据图片的宽高比自动调整高度 */
    border-radius: 15px;
    /* 给图片添加15px的圆角边框 */
}

.contact,
.learn-more {
    text-align: center;
    /* 內容居中對齊 */
    margin-top: 20px;
    /* 設定頂部外邊距 */
}

.contact a,
.learn-more a {
    color: #333;
    /* 設定連結文字顏色 */
    text-decoration: none;
    /* 移除連結下劃線 */
    border: 1px solid #333;
    /* 設定連結邊框 */
    padding: 10px 20px;
    /* 設定連結內邊距 */
    display: inline-block;
    /* 設定連結為行內塊元素 */
}

/* 按鈕樣式 */
.button {
    display: inline-block;
    /* 設定為行內塊元素 */
    padding: 10px 20px;
    /* 設定內邊距 */
    background-color: #ffffff;
    /* 設定背景顏色 */
    text-align: center;
    /* 內容居中對齊 */
    text-decoration: none;
    /* 移除底線 */
    vertical-align: middle;
    /* 垂直對齊 */
    border-radius: 10px;
    /* 設定邊框圓角 */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* 設定變換效果 */
}

.button:hover {
    transform: translateY(5px);
    /* 設定懸停時的垂直位移 */
    color: #ffffff;
    /* 設定懸停時的文字顏色 */
    background-color: #0080ff;
    /* 設定懸停時的背景顏色 */
    border-color: #ffffff;
    /* 悬停时改变边框颜色 */
}

footer {
    background-color: #0080ff;
    /* 設定頁腳背景顏色 */
    color: #fff;
    /* 設定頁尾文字顏色 */
    text-align: center;
    /* 內容居中對齊 */
    padding: 10px 0;
    /* 設定上下內邊距 */
    border-radius: 12px;
    /* 設定邊框圓角 */
}

footer p {
    margin: 0;
    /* 設定p元素的外邊距 */
}