* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Arial", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hr {
    border: none;
    border-top: 1px solid gray;
    width: 50%;
    margin: 20px auto;
}

.musichr {
    border: none;
    border-top: 1px solid #fff;
    width: 50%;
    margin: 20px auto;
}

/* 1st DIV: Hero Section */
#hero {
    position: relative;
    /* 为了后面定位其他元素 */
    height: 800px;
    /* 设置高度 */
    background-image: url('../images/background.avif');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
    background-position: center;
    /* 背景图片居中 */
    display: flex;
    /* 使用flex布局使内容垂直水平居中 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    text-align: center;
    /* 设置文字居中 */
    color: white;
    /* 文字颜色为白色 */
    background-color: #f8f8f8;
    /* 设置背景颜色 */
}

/* Hero Section内的内容容器 */
.hero-content {
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 内容垂直排列 */
    align-items: center;
    /* 内容水平居中 */
}

.hero h1 {
    font-size: 35px;
    /* 设置主标题的字体大小 */
}

.hero img {
    width: 50%;
    height: auto;
}

.hero .welcome-text {
    font-size: 13px;
    /* 设置欢迎文本的字体大小 */
    margin-top: 1px;
    /* 设置欢迎文本的上边距 */
}

/* Navigation Bar */
nav {
    position: absolute;
    /* 设置导航栏为绝对定位 */
    bottom: 0;
    /* 定位到父元素的底部 */
    left: 50%;
    /* 水平居中定位 */
    transform: translateX(-50%);
    /* 水平偏移，以实现真正居中 */
    display: flex;
    /* 使用flex布局 */
    justify-content: center;
    /* 水平居中对齐导航按钮 */
    gap: 20px;
    /* 按钮之间的间隔 */
    padding-bottom: 20px;
    /* 可选：为导航栏底部添加内边距，避免按钮直接紧贴底部 */
}

nav a {
    width: 120px;
    /* 设置统一的宽度 */
    height: 40px;
    /* 设置统一的高度 */
    text-decoration: none;
    /* 去除链接下划线 */
    padding: 10px 5px;
    /* 为按钮设置统一的内边距 */
    background-color: rgba(255, 255, 255, 0.3);
    /* 按钮背景色为半透明黑色 */
    color: #ffffff;
    /* 按钮文字颜色为白色 */
    border-radius: 10px;
    /* 设置按钮圆角 */
    font-size: 14px;
    /* 设置按钮文字的字体大小 */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* 设置背景色和缩放效果的平滑过渡 */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /* 添加阴影过渡 */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
}

nav a:hover {
    color: #7e5200;
    /* 鼠标悬停时，文字颜色 */
    font-weight: bold;
    /* 鼠标悬停时，文字加粗 */
    background-color: #ffa500;
    /* 鼠标悬停时改变背景色 */
    transform: scale(1.3);
    /* 鼠标悬停时放大按钮 */
}

/* 当窗口宽度小于 768px 时隐藏导航按钮 */
@media (max-width: 768px) {
    nav a {
        display: none;
        /* 在小屏幕下隐藏按钮 */
    }
}

/* 2nd DIV: 25th Section */
.anniversary {
    width: 90%;
    /* 宽度 */
    padding: 50px 2px;
    /* 设置作品集区域的内边距 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    background-image: url('../images/25.svg');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图按比例缩放覆盖整个元素 */
    background-position: center;
    /* 背景图居中 */
    background-attachment: fixed;
    /* 背景图固定 */
    flex-direction: column;
    /* 内容垂直排列 */
    align-items: center;
    /* 内容水平居中 */
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.anniversary img {
    width: 100%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
}

.anniversary h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

.anniversary p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* 3rd DIV:Design Section */
#design {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #f4f4f4;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    background-image: url('../images/design.svg');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图按比例缩放覆盖整个元素 */
    background-position: center;
    /* 背景图居中 */
    background-attachment: fixed;
    /* 背景图固定 */
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#design img {
    width: 90%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
}

#design h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#design p {
    color: #505050;
    /* 文字颜色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* 列表样式 */
.liststyle {
    display: inline-block;
    /* 水平排列作品项 */
    width: 18%;
    /* 设置作品项的宽度 */
    margin: 5px;
    /* 设置作品项之间的间距 */
    position: relative;
    /* 使父容器相对定位 */
    cursor: pointer;
    /* 鼠标悬停时为手形 */
    align-items: center;
    /* 水平居中对齐子元素 */
}

.liststyle img {
    width: 80%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
    transition: transform 0.2s ease;
    /* 添加平滑的缩放效果 */
    object-fit: cover;
    /* 确保图片覆盖容器，不拉伸 */
    border-radius: 10px;
    /* 给图片添加圆角 */
    transition: transform 0.3s ease, clip-path 0.3s ease;
    /* 平滑的过渡效果 */
    box-shadow: 0px 0px 10px rgba(0.5, 0.5, 0.3, 0.3);
    /* 阴影效果 */
}

.liststyle:hover img {
    transform: scale(1.1);
    /* 鼠标悬停时图片放大 */
    border: 2px solid transparent;
    /* 描边大小 */
    animation: border-color-cycle 3s infinite linear;
    /* 颜色循环时间 */
}

.liststyle h3 {
    margin-top: 10px;
    /* 设置标题与图片的上边距 */
    font-size: 1.2em;
    /* 设置标题的字体大小 */
    color: #505050;
    /* 设置描述文本的颜色 */
}

.liststyle p {
    font-size: 0.9em;
    /* 设置描述文本的字体大小 */
    color: #666;
    /* 设置描述文本的颜色 */
}

/* 内容样式 */
.contentstyle img {
    width: 80%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
    transition: transform 0.2s ease;
    /* 添加平滑的缩放效果 */
    object-fit: cover;
    /* 确保图片覆盖容器，不拉伸 */
    border-radius: 10px;
    /* 给图片添加圆角 */
    transition: transform 0.3s ease, clip-path 0.3s ease;
    /* 平滑的过渡效果 */
    box-shadow: 0px 0px 10px rgba(0.5, 0.5, 0.3, 0.3);
    /* 阴影效果 */
    margin-bottom: 20px;
    /* 设置第div底部的间距 */
}

.contentstyle h3 {
    font-size: 30px;
    /* 设置标题的字体大小 */
    color: #505050;
    /* 设置描述文本的颜色 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

/* 颜色循环设置 */
@keyframes border-color-cycle {
    0% {
        border-color: #ff0000;
        /* 红 */
    }

    15% {
        border-color: #ff7f00;
        /* 橙 */
    }

    30% {
        border-color: #00ff00;
        /* 绿 */
    }

    45% {
        border-color: #0000ff;
        /* 蓝 */
    }

    60% {
        border-color: #ffff00;
        /* 黄 */
    }

    85% {
        border-color: #8b00ff;
        /* 紫 */
    }

    100% {
        border-color: #ff0000;
        /* 回到红 */
    }
}

/* button */
.learn-more {
    text-align: center;
    /* 内容居中对齐 */
    margin-top: 20px;
    /* 设置顶部外边距，确保元素与上方有间距 */
}

.learn-more a {
    color: #333;
    /* 设置链接的文字颜色为深灰色 */
    text-decoration: none;
    /* 去除链接的下划线 */
    border: 1px solid #cbcbcb;
    /* 为链接添加深灰色边框 */
    padding: 10px 20px;
    /* 设置链接的内边距，使其成为按钮样式 */
    display: inline-block;
    /* 将链接显示为块级元素，但仍然保持在一行内 */
}

.button {
    display: inline-block;
    /* 将按钮显示为块级元素，但仍保持在一行内 */
    padding: 10px 20px;
    /* 设置按钮内边距，确保按钮有适当的大小 */
    background-color: #ffffff;
    /* 设置按钮的背景颜色为白色 */
    text-align: center;
    /* 确保按钮文字居中对齐 */
    text-decoration: none;
    /* 去除按钮文字的下划线 */
    vertical-align: middle;
    /* 使按钮垂直居中对齐 */
    border-radius: 10px;
    /* 设置按钮的圆角，使其看起来更柔和 */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* 添加平滑的过渡效果，当按钮变化时 */
}

.button:hover {
    transform: translateY(5px);
    /* 鼠标悬停时，按钮稍微向下移动，产生点击效果 */
    color: #ffffff;
    /* 鼠标悬停时，文字颜色 */
    background-color: #ffa500;
    /* 鼠标悬停时，按钮背景颜色 */
    border-color: #ffffff;
    /* 鼠标悬停时，按钮边框颜色 */
}

/* 4th DIV: Blog Section */
#blog {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #f4f4f4;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    flex-direction: column;
    /* 垂直排列子元素 */
    align-items: center;
    /* 水平居中对齐子元素 */
}

#blog img {
    width: 100%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
}

#blog h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#blog p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* carousel */
.carousel {
    width: 80%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
    flex-direction: column;
    /* 内容垂直排列 */
}

/* 轮播图的容器样式 */
ul.slides {
    position: relative;
    /* 使其成为定位容器 */
    width: 100%;
    /* 轮播图的宽度 */
    height: 800px;
    /* 轮播图的高度 */
    list-style: none;
    /* 去掉默认的列表样式 */
    margin: 0;
    padding: 0;
    background-color: transparent;
    /* 设置背景色为透明 */
    overflow: hidden;
    /* 超出容器部分隐藏 */
    margin-left: 12.5%;
    /* 设置子容器离左边的距离 */
}

/* 每个轮播图片项的样式 */
li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    /* 继承父元素宽度 */
    height: inherit;
    /* 继承父元素高度 */
    position: absolute;
    /* 绝对定位 */
    top: 0;
    left: 0;
    display: flex;
    /* 使用 flexbox 对内容进行对齐 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    font-size: 20px;
    /* 字体大小 */
    color: #fff;
    /* 字体颜色为白色 */
    transition: .5s transform ease-in-out;
    /* 图片切换时的过渡效果 */
}

li.slide h3 {
    font-size: 25px;
    /* 字体大小 */
    color: #fff;
    /* 字体颜色为白色 */
    margin-top: 20px;
    /* 和顶部的距离 */
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    /* 文字阴影 */
}

li.slide a {
    display: block;
    /* 让 <a> 标签成为块级元素 */
    width: 100%;
    /* 让 <a> 标签占满整个父元素 */
    height: 100%;
    /* 让 <a> 标签占满整个父元素 */
    position: absolute;
    /* 使其覆盖整个父元素 */
    top: 0;
    left: 0;
    text-decoration: none;
    /* 去除默认的下划线 */
    z-index: 1;
    /* 保证链接在图片上层 */
    cursor: pointer;
    /* 鼠标变成可点击状态 */
}

/* 第一个轮播图片的背景颜色 */
.slide:nth-of-type(1) {
    background-image: url('../images/apple.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第二个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(2) {
    background-image: url('../images/deepseek.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 100%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第三个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(3) {
    background-image: url('../images/guangzhou_26.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 200%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第四个轮播图片的背景颜色 */
.slide:nth-of-type(4) {
    background-image: url('../images/8700g_3.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 300%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第五个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(5) {
    background-image: url('../images/xiamen.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 400%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第六个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(6) {
    background-image: url('../images/chongqing.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 500%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第七个轮播图片的背景颜色 */
.slide:nth-of-type(7) {
    background-image: url('../images/sakura.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 600%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第八个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(8) {
    background-image: url('../images/qsz.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 700%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第九个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(9) {
    background-image: url('../images/cat.avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 800%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 第十个轮播图片的背景颜色，并设置初始位置在容器外 */
.slide:nth-of-type(10) {
    background-image: url('../images/Kansai (73).avif');
    /* 图片路径 */
    border-radius: 15px;
    /* 设置圆角*/
    left: 900%;
    /* 将其定位在容器的右侧 */
    background-size: cover;
    /* 背景图片覆盖整个区域 */
}

/* 隐藏的 radio 按钮控制器样式 */
input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
    /* 隐藏 radio 按钮 */
}

/* 控制器下方的圆点按钮样式 */
.controls-visible {
    position: absolute;
    width: 100%;
    /* 控制器宽度与容器一致 */
    bottom: 12px;
    /* 控制器与底部间隔 */
    text-align: center;
    /* 水平居中 */
}

/* 控制器中的圆点按钮样式 */
.controls-visible label {
    display: inline-block;
    /* 横向排列 */
    width: 15px;
    height: 15px;
    background-color: #fff;
    /* 圆点颜色 */
    border-radius: 50%;
    /* 圆形 */
    margin: 0 3px;
    /* 圆点之间的间隔 */
    border: 2px solid #fff;
    /* 白色边框 */
    cursor: pointer;
    /* 鼠标变成可点击状态 */
}

/* 根据 radio 按钮的状态，更新圆点的颜色 */
.slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
    background-color: #ff8000;
    /* 已选中的圆点变为深色 */
}

.slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(4):checked~.controls-visible label:nth-of-type(4) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(5):checked~.controls-visible label:nth-of-type(5) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(6):checked~.controls-visible label:nth-of-type(6) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(7):checked~.controls-visible label:nth-of-type(7) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(8):checked~.controls-visible label:nth-of-type(8) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(9):checked~.controls-visible label:nth-of-type(9) {
    background-color: #ff8000;
}

.slides input[type="radio"]:nth-of-type(10):checked~.controls-visible label:nth-of-type(10) {
    background-color: #ff8000;
}

/* 根据选中的 radio 按钮，切换轮播图的显示位置 */
.slides input[type="radio"]:nth-of-type(1):checked~.slide {
    transform: translatex(0%);
    /* 第一个图片显示 */
}

.slides input[type="radio"]:nth-of-type(2):checked~.slide {
    transform: translatex(-100%);
    /* 第二个图片显示 */
}

.slides input[type="radio"]:nth-of-type(3):checked~.slide {
    transform: translatex(-200%);
    /* 第三个图片显示 */
}

.slides input[type="radio"]:nth-of-type(4):checked~.slide {
    transform: translatex(-300%);
    /* 第四个图片显示 */
}

.slides input[type="radio"]:nth-of-type(5):checked~.slide {
    transform: translatex(-400%);
    /* 第五个图片显示 */
}

.slides input[type="radio"]:nth-of-type(6):checked~.slide {
    transform: translatex(-500%);
    /* 第六个图片显示 */
}

.slides input[type="radio"]:nth-of-type(7):checked~.slide {
    transform: translatex(-600%);
    /* 第七个图片显示 */
}

.slides input[type="radio"]:nth-of-type(8):checked~.slide {
    transform: translatex(-700%);
    /* 第八个图片显示 */
}

.slides input[type="radio"]:nth-of-type(9):checked~.slide {
    transform: translatex(-800%);
    /* 第九个图片显示 */
}

.slides input[type="radio"]:nth-of-type(10):checked~.slide {
    transform: translatex(-900%);
    /* 第十个图片显示 */
}

/* 导航按钮（上一张和下一张）的样式 */
.navigator {
    position: absolute;
    top: 50%;
    /* 垂直居中 */
    transform: translatey(-50%);
    /* 精确垂直居中 */
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    /* 左右间距 */
    display: flex;
    /* 水平排列 */
    justify-content: space-between;
    /* 两边对齐 */
    box-sizing: border-box;
    display: none;
    /* 默认隐藏导航按钮 */
}

/* 导航按钮字体样式 */
.navigator i {
    font-size: 50px;
    color: #333333;
    /* 颜色 */
}

/* 5th DIV:game Sectionn */
#game {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #ffffff;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    background-image: url('../images/game.svg');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图按比例缩放覆盖整个元素 */
    background-position: center;
    /* 背景图居中 */
    background-attachment: fixed;
    /* 背景图固定 */
}

#game img {
    width: 100%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
}

#game h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#game p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* 6th DIV:ai Sectionn */
#ai {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #ffffff;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
}

#ai h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#ai p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* 7th DIV:music Sectionn */
#music {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #f4f4f4;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    background-image: url('../images/onepiece.avif');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图按比例缩放覆盖整个元素 */
    background-position: center;
    /* 背景图居中 */
    background-attachment: fixed;
    /* 背景图固定 */
}

#music img {
    width: 50%;
    /* 图片宽度占满父容器 */
    height: auto;
    /* 保持图片的原始比例 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#music h2 {
    color: #ffffff;
    /* 文字颜色为白色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#music h3 {
    color: #ffffff;
    /* 文字颜色为白色 */
    font-size: 20px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#music p {
    color: #ffffff;
    /* 文字颜色为白色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* CD */
img {
    width: 40%;
    /* 设置图片宽度 */
    height: auto;
    /* 保持图片的原始比例 */
}

/* 仅对 class 为 "rotate" 的图片应用旋转 */
.rotate {
    animation: rotate 5s linear infinite;
    /* 旋转动画，持续 5 秒完成一次旋转 */
}

/* 定义旋转的动画 */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* 初始状态，旋转角度为 0 度 */
    }

    100% {
        transform: rotate(360deg);
        /* 最终状态，旋转 360 度，完成一个完整的顺时针旋转 */
    }
}

/* 8th DIV:contact Sectionn */
#contact {
    padding: 50px 20px;
    /* 设置作品集区域的内边距 */
    background-color: #ffffff;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
}

#contact img {
    width: 200px;
    /* 图片宽度 */
    height: auto;
    /* 保持图片的原始比例 */
}

#contact h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#contact p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
}

#contact p {
    color: #505050;
    /* 文字颜色为灰色 */
    font-size: 15px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 15px;
    /* 设置作品集标题的下边距 */
}

/* 9th DIV:link Sectionn */
#link {
    padding: 10px 130px;
    /* 设置作品集区域的内边距 */
    background-color: #f4f4f4;
    /* 设置作品集区域的背景色 */
    text-align: center;
    /* 使作品集内容居中对齐 */
    background-image: url('../images/pattern.svg');
    /* 设置背景图片 */
    background-size: cover;
    /* 背景图按比例缩放覆盖整个元素 */
    background-position: center;
    /* 背景图居中 */
    background-attachment: fixed;
    /* 背景图固定 */
}

#link img {
    width: 35px;
    /* 设置宽度 */
    margin: 5px;
    /* 设置间距 */
}

#link h2 {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 40px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

#link p {
    color: #b0b0b0;
    /* 文字颜色为灰色 */
    font-size: 16px;
    /* 设置作品集标题的字体大小 */
    margin-bottom: 20px;
    /* 设置作品集标题的下边距 */
}

.linkbox {
    display: flex; 
    justify-content: center; 
    /* 水平居中 */
    margin-top: 20px;
}

.linkicon img {
    transition: transform 0.2s ease; 
    /* 设定过渡时间和效果 */
}

.linkicon:hover img {
    transform: scale(1.5); 
}

#qsz {
    width: 100%;
    /* 图片宽度 */
    height: auto;
    /* 保持图片的原始比例 */
}

#qsz img {
    width: 50%;
    /* 图片宽度 */
    height: auto;
    /* 保持图片的原始比例 */
    border-radius: 15px;
}

/* 10th DIV: footer Sectionn */
.footer {
    width: 100%;
    /* 宽度 */
    height: auto;
    /* 高度 */
    background-color: #333333;
    /* 设置页脚的背景颜色 */
    color: white;
    /* 设置页脚文本颜色为白色 */
    text-align: center;
    /* 设置页脚文本居中对齐 */
}

.footer img {
    width: 10%;
    /* 图片宽度 */
    height: auto;
    /* 图片高度 */
    margin-top: 20px;
}

.footer p {
    font-size: 16px;
    margin-top: 10px;
}

/* Media Queries for Responsiveness */

/* 屏幕宽度小于1000px时，调整样式以适应平板 */
@media (max-width: 1000px) {
    #hero h1 {
        font-size: 2em;
        /* 调整标题的字体大小 */
    }

    #hero .welcome-text {
        font-size: 1.5em;
        /* 调整欢迎文本的字体大小 */
    }

    .liststyle {
        width: 70%;
        /* 调整作品项的宽度，使其在小屏幕上适应 */
    }

    #portfolio h2 {
        font-size: 2em;
        /* 调整作品集标题的字体大小 */
    }

    #image-section h3 {
        font-size: 1.5em;
        /* 调整图片标题的字体大小 */
    }
}

/* 屏幕宽度小于768px时，调整样式以适应手机 */
@media (max-width: 768px) {
    .liststyle {
        width: 100%;
        /* 让作品项在手机上占满全宽 */
    }

    nav {
        flex-direction: column;
        /* 导航栏按钮垂直排列 */
        gap: 10px;
        /* 按钮之间的间距减少 */
    }

    nav a {
        width: 100%;
        /* 使导航按钮宽度为100% */
        text-align: center;
        /* 使导航按钮文字居中 */
    }
}
